.padding_zero {
   padding: 0px !important;
}
.margin_zero {
   margin: 0px !important;
}


.pass_input {
   display: flex;
   width: 100%;
   justify-content: space-between;
   padding: .375rem .75rem;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #212529;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #ced4da;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   border-radius: .25rem;
   transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.pass_input input {
   border: none;
   width: 90%;
   margin: 0;
   outline: none;
}

.strongPassTexta {
   color: #fff;
   padding: 2px 9px 2px 10px;
   border-radius: 5px;
}

.copyBtn {
   border-radius: 26px;
   color: #fff;
   text-align: center;
   padding: 8px 30px;
   border: 3px solid #97BFFA;
   line-height: 24px;
   font-family: "Hind Siliguri", sans-serif;
   font-size: 18px;
   box-shadow: 0px 4px 10px -5px rgb(0 0 0 / 78%);
   background: linear-gradient(135deg, #0d6efd, #5a8dee);
   cursor: pointer;
   transition: all 0.3s ease-in-out;
   position: relative;
   overflow: hidden;
}

.copyBtn::before {
   content: '';
   position: absolute;
   top: 0;
   left: -100%;
   width: 100%;
   height: 100%;
   background: rgba(255, 255, 255, 0.15);
   transform: skewX(-20deg);
   transition: left 0.5s ease;
}

.copyBtn:hover::before {
   left: 200%;
}

.copyBtn:hover {
   background: linear-gradient(135deg, #0db933, #0db933) !important;
   box-shadow: 0 8px 20px rgba(255, 75, 43, 0.4);
   transform: scale(1.05);
}
.generateBtn {
   border-radius: 26px;
   color: #fff;
   text-align: center;
   padding: 8px 30px;
   border: 3px solid #97BFFA;
   line-height: 24px;
   font-family: "Hind Siliguri", sans-serif;
   font-size: 18px;
   box-shadow: 0px 4px 10px -5px rgb(0 0 0 / 78%);
   background: linear-gradient(135deg, #0db933, #5a8dee);
   cursor: pointer;
   transition: all 0.3s ease-in-out;
   position: relative;
   overflow: hidden;
}

.generateBtn::before {
   content: '';
   position: absolute;
   top: 0;
   left: -100%;
   width: 100%;
   height: 100%;
   background: rgba(255, 255, 255, 0.15);
   transform: skewX(-20deg);
   transition: left 0.5s ease;
}

.generateBtn:hover::before {
   left: 200%;
}

.generateBtn:hover {
   background: linear-gradient(135deg, #0db933, #0db933) !important;
   box-shadow: 0 8px 20px rgba(255, 75, 43, 0.4);
   transform: scale(1.05);
}

h3.lengthText {
   font-size: 20px;
   /* text-align: left; */
   font-weight: bold;
}

.lenthDis {
   background: blue;
   padding: 5px 12px;
   border-radius: 50px;
   color: #fff;
}
.form-check {
   margin-right: 20px;
}
.form-check-input {
   width: 24px;
   height: 24px;
   margin-top: 2px;
   vertical-align: top;
   background-color: #fff;
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   margin-right: 5px;
   border: 1px solid;
   color-adjust: exact;
   border: 1px solid #C5D6E0 !important;
   box-shadow: 0px 2px 4px 0px rgba(7, 29, 43, 0.12) inset;
}

label.form-check-label {
   font-size: 18px;
   font-weight: 500;
}
.charecor {
   font-size: 18px;
   margin: 10px 0;
}


/* ========================= Emoji CSS ============================  */
.flex {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 0.5rem;
}

/* Emoji Container */
.softEmoji {
   transform: translateZ(0);
   display: inline-flex;
   align-items: center;
   justify-content: center;
   font-family: Apple Color Emoji, Segoe UI Emoji, Noto Color Emoji, Android Emoji, EmojiSymbols, EmojiOne Mozilla, Twemoji Mozilla, Segoe UI Symbol, Noto Color Emoji, EmojiOne Color, emoji, var(--font-noto-emojipedia-fallback);
}

/* Emoji Button */
.softEmoji-button {
   margin: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 4.5rem;
   width: 4.5rem;
   font-size: 2.5rem;
   background: #fff;
   border: 1px solid #d8d8d8;
   border-radius: 8px;
   cursor: pointer;
   padding: 1rem;
   transition: background-color 0.2s ease-in-out;
}

@media (min-width: 600px) {
   .softEmoji-button {
      height: 5rem;
      width: 5rem;
      font-size: 3rem;
   }
}

@media (min-width: 900px) {
   .softEmoji-button:hover {
      background-color: #34a852;
   }
}

/* Copied Text */
.softEmoji-copied-text {
   position: absolute;
   top: -2.5rem;
   background-color: #fff;
   border: 1px solid #d8d8d8;
   padding: 0.75rem;
   font-size: 0.75rem;
   font-weight: 600;
   color: #34a852;
   border-radius: 4px;
   box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
}

/* Container Padding Fix */
.padding_zero {
   padding: 0 !important;
}

@media (max-width: 600px) {
   .softEmoji-button {
      height: 3.5rem;
      width: 3.5rem;
      font-size: 2rem;
   }
}
#copied-alert {
   display: none;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: #4caf50;
   color: white;
   padding: 0.5rem 1rem;
   border-radius: 5px;
   z-index: 9999;
}


/* ===================== Symbols CSS ===================== */

.symbols-types a:hover {
   background: #000b14;
   color: #fff
}

.symbolslist {
   margin: 15px 0;
   text-align: center;
   padding: 0 5px
}

.symbolslist a {
   margin: .3rem .2rem;
   color: #fff;
   background-color: #000b14;
   cursor: pointer;
   line-height: 1.6;
   padding: 7px 10px;
   text-align: center;
   white-space: nowrap;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   display: inline-flex;
   font-size: 1.1rem
}

ul {
   list-style-type: none;
   box-sizing: border-box;
   padding: 0 !important
}

.softnesttools_symbols {
   position: relative;
   background-color: #fff;
   display: inline-block;
   margin: .5rem .2rem;
   border: 1px solid #fff;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   -o-border-radius: 4px;
   -khtml-border-radius: 4px;
   padding: 5px;
}

.resp-sharing-button--email,
.resp-sharing-button--facebook,
.resp-sharing-button--tumblr,
.resp-sharing-button--twitter,
.resp-sharing-button--whatsapp {
   border-color: #1a1a1a;
   background-color: #1a1a1a
}

.softnesttools_symbols:hover {
   border: 1px solid #000b14;
   background: rgba(0, 0, 255, 0.486);
   color: #fff;
}

.softnesttools_symbols_copy {
   background: #fff;
   display: block;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   -o-border-radius: 4px;
   -khtml-border-radius: 4px;
   padding: 1px;
   min-width: 62px;
   min-height: 31px;
   line-height: 1.1;
   font-family: Inter !important;
   font-size: 4.1rem;
   vertical-align: middle;
   overflow: hidden;
   justify-content: center
}

.softnesttools_symbols_copy:hover {
   color: #000b14
}


@media only screen and (min-width: 1100px) {
   .tier1 {
      flex: 0 0 auto;
      width: 68%;
      margin: 1%;
      text-align: center
   }

   .tier2 {
      flex: 0 0 auto;
      width: 28%;
      margin: 1%
   }
}

@media only screen and (max-width: 1099px) {
   .tier1 {
      width: 100%;
      text-align: center
   }

   .tier2 {
      display: none
   }

   .inputboxarea {
      padding-top: 0;
      padding-bottom: 6px
   }

   #recentclicksymbols .softnesttools_symbols_copy {
      margin-left: 2px;
      margin-right: 2px;
      margin-top: 3px
   }

   #inputbox {
      font-size: 20px
   }
}

@media (max-width: 480px) {
   .myads1 {
      width: 320px;
      height: 50px
   }

   .myads2 {
      width: 300px;
      height: 50px
   }
}

@media (min-width: 481px) and (max-width:1024px) {
   .myads1 {
      width: 468px;
      height: 60px
   }

   .myads2 {
      width: 480px;
      height: 320px
   }
}

@media (min-width: 1025px) {
   .myads1 {
      width: 728px;
      height: 90px
   }

   .myads2 {
      width: 640px;
      height: 100px
   }
}
.symbols-types a,
.softnesttools_symbols_copy {
   color: #04070c;
   cursor: pointer;
   text-align: center
}

.symbol-name {
   font-size: 10px;
   text-align: center;
}

.symbols-types {
   margin: 2rem 0;
   text-align: center;
   padding: 0 5px
}

.symbols-types a {
   background-color: #fff;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px
}